body {
    background-color: #8d74a8;
    font-family: 'Roboto Mono', monospace;
}
/* header */
header{
    background-color: #d9bff5;
    height: 100px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 3px #eddcff;
    font-family: 'Roboto Mono', monospace;
}

header li {
    display: inline;
    padding-left: 40px;
    

}
header li a {
    color: #2c1f3a;
    padding: 13px;
    background-color: #c9a4f0;
    border-radius: 20px;
    
}
header li a:hover {
    color: blanchedalmond;
}
header li img {
    width: 280px;
    float: left;
    margin-top: -40px;
}
/* zip code and drop down container */

.container {
    height: 300px;
    width: 100%;
    box-shadow: 0 0 3px #eddcff;
    margin-top: 30px;
}
.column {
    height: 240px;
    box-shadow: 0 0 3px #eddcff;
    margin-top: 20px;
}

/*dropdown */ 
#dropdown {
    padding-right: 20px;
}

/* MAP API */

#map {
    height: 400px;
}

/* restauranr choices colums */

#choices {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

#choices2 {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}