/* body {
    background-color: #855b7e;
    font-family: 'Roboto Mono', monospace;
} */
/* header */
/* header{
    background-color: #7f629e;
    height: 100px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 3px #8847ad;
    font-family: 'Roboto Mono', monospace;
}

header li {
    display: inline;
    padding-left: 40px;


}

header li a {
    color: #2c1f3a;
    padding: 13px;
    background-color: #c9a4f0;
    border-radius: 20px;

}

header li a:hover {
    color: blanchedalmond;
}

header li img {
    width: 280px;
    float: left;
    margin-top: -40px;
} */
/* zip code and drop down container */

/* .container {
    background-color: #d9bff5;
    height: 300px;
    width: 100%;
    box-shadow: 0 0 3px #cebdd8;
    margin-top: 30px;
}
#zipcode {
    text-align: center;
    align-items: center;


}

#areacode {
    align-items: center;
}
.u-full-width {
    background-color: rgb(228, 209, 209);
    margin-top: 40px;
    
} */
/* .column {
    height: 240px;
    box-shadow: 0 0 3px #8847ad;
    margin-top: 20px;
} */

/*dropdown */ 
/* #dropdown {
    
    text-align: center;
    align-items: center;
}




.button-primary {
    width: 50%;
    margin-top: 5px;
    box-shadow: 0 0 3px #8847ad;
} */


/* MAP API 
#map {
    height: 300px;
}


/* restauranr choices colums

/* restauranr choices colums
#choices {
    margin-top: 10px;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    background-color: #d9bff5;
}
#choices2 {
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    background-color: #d9bff5;
}
/* about section */
 /* #about {
     width: 50%;
     background-color: #80679b;
     border: 5px solid #9177ad;
     text-align: center;
     color: black;
     
 } */
/* footer */

/* .footer img {
    width: 80px;
    margin-bottom: -50px;
}
.footer {
    background-color: #7f629e;
}
#card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card-class {
    background-color: white;
    text-align: center;
}
img {
    width: 200px;
    height: auto;
    color: black;
}
.footer p:hover {
    color: blanchedalmond;
} */

.container{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.choice-section{
    display: block;
    justify-content: center;
    width: 600px;
    text-align: center;
    margin-top: 50px;
}



.intro-section{
    width: 300px;
}

header{
    height: 100px;
    background-color: #FEF1E9
}

.logo{
    padding-top: 20px;
    padding-left: 40px;
}

#map{
    background-color: #F3DAEB;
}

.logo{
    width: 230px;
}