header{
    height: 100px;
    background-color: #CFA6DE;
}

.container{
    width: 100%;
}

#top{
    width: 100%;
    margin-top: 20px;
}


#locationSearchArea{
    text-align: center;
    height: 100%;
    margin-top: 2%;
}

#categoriesArea{
    text-align: center;
    margin-top: 2%;
}

.button-primary{
    width: 100%;
    margin-top: 5px;
    background-color: #D9BBFA;
}

#mapArea{
    background-color: #FABBBB;
    height: 300px;
    width: 100%;
}